


/*
Auslastung*/
.text-left{
    color: black;
    font-weight: bold;

}


/**
*Produzierten Stücke
**/
.stuecke{
width: 100%;
    box-shadow: 15px 15px 0 orange;

}

/*start: box v-1*/
.box-v1{}
.box-v1 .panel-body{color:black; padding-top: 40px;background-color: orange; border :8px solid #333;box-shadow: 10px 10px 0px orange;}
.box-v1 .panel-body h1{line-height: .5;}
.box-v1 .panel-body hr{width: 60%;}

/*start: box v-2*/
.box-v2{}
.box-v2 .panel-heading{}
.box-v2 .panel-heading .box-v2-cover{width: 100%;}
.box-v2 .panel-heading .box-v2-detail{
    position: absolute;
    z-index: 9;
    margin-top: -100px;
    margin-left: 10px;
    color: #fff;
    font-weight: 400;
}
.box-v2 .panel-body{
    background: #333;
    color: #fff;
    line-height: 0;
    padding-bottom: 30px;
}

