.Header{
    font-size: 70px;
    background-color: orange;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 80px;
    margin: 0 !important;
}


.unter{
    color:white;
}
.navbar-nav > li > .dropdown-menu
{
    background-color: #333333;

}
.dropdown-menu>li>a {

    color: white !important;

}

#mainContent {
    position:fixed;
    top: 135px;
    left: 230px;
    overflow: scroll;
    height: 87%;
}

.navbar  {
    position:fixed !important;
    width: 100%;
    top: 80px;
}

.container{
    padding-left: 10px !important;
    padding-top:10px !important;
}





.Test{

    position: fixed;
}

.content{
    background-color: #333 !important;
}