
<!-- start: content -->
<div id="content" class="content">
    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
            <div class="col-md-8 padding-0">
                <div class="col-md-12">
                    <div class="panel box-v4">
                        <div class="panel-heading bg-white border-none">
                        </div>
                        <div class="panel-body padding-0">
                            <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                                AUSLASTUNG DER MASCHINEN
                            </div>
                            <div class="calendar">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-0">
                    <div class="col-md-6">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left"><br>Auslastung</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="icon-user icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>


                            <div class="panel-body text-center">
                                <h1>1%</h1>
                                <p>Maschine 1</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left"><br>Auslastung2</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="icon-basket-loaded icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1>{{data.Auslastung2}}99%</h1>
                                <p>Maschine 2</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12 padding-0">
                    <div class="panel box-v2">
                        <div class="panel-heading padding-0">

                            <div class="box-v2-detail">

                                <h4>Akihiko Avaron</h4>
                            </div>
                        </div>
                        <!--Feld-->
                        <div class ="stuecke">
                            <div class="panel-body">
                                <div class="col-md-12 padding-0 text-center">
                                    <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                        <h3>2.000</h3>
                                        <p>Heute</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                        <h3>17.573</h3>
                                        <p>Woche</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                        <h3>67.456</h3>
                                        <p>Monat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>