
<!-- start: content -->
<div id="content" class="content">
    <wf-app-name></wf-app-name>

    <input ng-model="sliderValue" type="text" id="mySlider" slider options="options" />


    <wf-dash-panel ng-model="sliderValue" name="Slider..." wf-group ="asdfasdf"></wf-dash-panel>
    <wf-dash-panel ng-model="daten" name="Daten..."></wf-dash-panel>

    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
            <div class="col-md-8 padding-0">
                <div class="col-md-12">
                    <div class="panel box-v4">
                        <div class="panel-heading bg-white border-none">
                        </div>
                        <div class="panel-body padding-0">
                            <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                                AUSLASTUNG DER MASCHINEN
                            </div>
                            <div class="calendar">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 padding-0">
                    <div class="panel box-v2">
                        <div class="panel-heading padding-0">

                            <div class="box-v2-detail">


                            </div>
                        </div>
                        <!--Feld-->
                        <div class ="stuecke">
                            <div class="panel-body">
                                <div class="col-md-12 padding-0 text-center">
                                    <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                        <h3>2.000</h3>
                                        <p>Heute</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                        <h3>17.573</h3>
                                        <p>Woche</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                        <h3>67.456</h3>
                                        <p>Monat</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
