
<!-- Einbinden der css -->
<link rel="stylesheet" href="/wfPhpTester/css/json.css">

<script>
    var test = {"employees": [{
        "firstName": "John",
        "lastName": "Doe"
    }, {
        "firstName": "Anna",
        "lastName": "Smith"
    }, {
        "firstName": "Peter",
        "lastName": "Jones"
    }],
        "testFloat": 12.3,
        "testInt": 15,
        "testBool": false
    }

    var result;
</script>



<div id="content" class="content">
    <wf-app-name></wf-app-name>
    <wf-json-dbg style="width: 100px; height: 100px;" ng-bind-html="myHTML">{{myHTML}}</wf-json-dbg>

</div>


