<div class="col-md-12" style="padding:20px;">
    <div class="col-md-12 padding-0">
        <div class="col-md-8 padding-0">
            <div class="col-md-12">
                <div class="panel box-v4">
                    <div class="panel-heading bg-white border-none">
                    </div>
                    <div class="panel-body padding-0">

                        <div class="calendar">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 padding-0">
                <div class="panel box-v2">
                    <div class="panel-heading padding-0">

                        <div class="box-v2-detail">
                        </div>
                    </div>
                    <!--Feld-->
                    <div class ="stuecke">
                        <div class="panel-body">
                            <div class="col-md-12 padding-0 text-center">
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{{heute}}</h3>
                                    <p>Heute</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                    <h3>{{woche}}</h3>
                                    <p>Woche</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                    <h3>{{monat}}</h3>
                                    <p>Monat</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>