<div class="row">
    <div class="col-md-13">
             <button name="bntNum" value="7" class="btn btn-lg bnt-danger nummern" >7</button>
        <button name="bntNum" value="8" class="btn btn-lg bnt-danger nummern">8</button>
             <button name="bntNum" value="9" class="btn btn-lg bnt-danger nummern">9</button>
        <button name="bntNum" value="clear" class="btn btn-lg bnt-danger nummern zurueck">clear</button>

    </div>
</div>
<div class="row">
        <div class="col-md-13">
            <button name="bntNum" value="4" class="btn btn-lg bnt-danger nummern">4</button>
            <button name="bntNum" value="5" class="btn btn-lg bnt-danger nummern">5</button>
            <button name="bntNum" value="6" class="btn btn-lg bnt-danger nummern">6</button>

</div>

    </div>
<button name="bntNum" value="enter" class="btn btn-lg bnt-danger nummern enter">enter</button>



    <div class="row">
    <div class="col-md-13">
    <button name="bntNum" value="1" class="btn btn-lg bnt-danger nummern">1</button>
    <button name="bntNum" value="2" class="btn btn-lg bnt-danger nummern">2</button>
    <button name="bntNum" value="3" class="btn btn-lg bnt-danger nummern">3</button>
</div>
</div>


<div class="row">
    <div class="col-md-13">
        <button name="bntNum" value="0" class="btn btn-lg bnt-danger nummern null">0</button>
        <button name="bntNum" value="," class="btn btn-lg bnt-danger nummern">,</button>
    </div>
</div>